<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="../css/imcss.css">
<link rel="stylesheet" href="css/prism.css" />
  <link rel="stylesheet" href="css/treeflex.css" />
  
<style>
.gridHolder {
	position: absolute;
	left: 1rem;
	top: 1rem;
	width: calc(100vw - 2rem);
	height: calc(100vh - 2rem);
	display: grid;
	grid-auto-flow: row | column | row dense | column dense;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.gridHolder > div {
	min-width: 2rem;
	min-height: 2rem;
	border: 1px solid black;
}
.editDiv {
	display: none;
}
.outputDiv {

}
</style>

</head>

<body>

<div class="gridHolder">
	<div style="grid-column: 1; grid-row: 1;">
		<div class="editDiv">
			<textarea id="in-1" class="inline-math" style="height: 100%; padding: .5rem; width: 100%;">a $2+2$ a 
				 b $3+3$ b
				 c $4+4$ c</textarea>
		</div>
		<div class="outputDiv" id="out-1" class="output-math">
		
		</div>
	</div>
	<div style="grid-column: 6 / 10; grid-row: 5 / 7;">FAQ
	</div>
	<div style="grid-column: 10; grid-row: 10;">
		<div class="editDiv">
			<textarea id="in-2" class="inline-math" style="height: 100%; padding: .5rem; width: 100%;">aa $2+2$ a 
				 b $3+3$ b
				 c $4+4$ c</textarea>
		</div>
		<div class="outputDiv" id="out-2" class="output-math">
		
		</div>
	</div>
</div>

  <script src="js/autosize.js"></script>
  <!--<script src="js/copylatex.js"></script>-->
  
  <!--<script src="js/marked.js"></script>-->
  <!--<script src="mathdocs/markdown-it-math.js"></script>-->
  

  <script src="js/prism.js"></script>
  
  <script src="js/testjs.js"></script>
  <script src="js/imcss.js"></script>
</body>
</html>