<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="../css/imcss.css">
<link rel="stylesheet" href="css/prism.css" />
  <link rel="stylesheet" href="css/treeflex.css" />
  
<style>
.gridHolder {
	position: absolute;
	left: 1rem;
	top: 1rem;
	width: calc(100vw - 2rem);
	height: calc(100vh - 2rem);
	display: grid;
	grid-auto-flow: row | column | row dense | column dense;
}
.gridHolder > div {
	min-width: 2rem;
	min-height: 2rem;
	border: 1px solid black;
}
</style>

</head>

<body>

<div class="gridHolder">
	<div><textarea id="inline-math" style="height: 100%; padding: .5rem; width: 100%;">
			2+2
		</textarea>
	</div>
	<div>FAQ
	</div>
	<div>3+3
	</div>
</div>

  <script src="js/autosize.js"></script>
  <script src="js/copylatex.js"></script>
  <!--<script src="js/marked.js"></script>-->
  <!--<script src="mathdocs/markdown-it-math.js"></script>-->
  

  <script src="js/prism.js"></script>
  
  <script src="js/testjs.js"></script>
  <script src="js/imcss.js"></script>
</body>
</html>