<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" />
  <link rel="stylesheet" href="css/prism.css" />
</head>

<body>
  <div class="main">
  		<div style="width:45%; height: 60vh; display: inline-block;">
	  		<textarea rows="20" id="inline-math" style="width: 100%"></textarea>
	  	</div>
	  	<div style="width:45%; height: 60vh; border: 1px solid black; display: inline-block;" id="output-math">
	  		
	  	</div>
	  	<pre><code class="language-js">
var y=x^12;
var x=3*y+7;
var z=3*7/4;
</code></pre>
  </div>
  <!--
  <textarea id="inline-rules"></textarea>
  <button onclick="rulesChange()">Submit</button>
  
  
  <input type="text" id="inline-math"></input>
  <div id="output-math"></div>	
  
  <input type="text" id="inline-graph"></input>
  <button onclick="plotChange()">Submit</button>
  <div id="output-graph"></div>	-->
  
	
  <!--<script src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"></script>-->
  <script src="js/autosize.js"></script>
  
  <!--<script src="js/marked.js"></script>-->
  <!--<script src="mathdocs/markdown-it-math.js"></script>-->
  
  <script>
  	autosize(document.getElementById('inline-rules'));
  	
  	
	
	
  	var myWorker = new Worker('js/wasmworker.js');
  	
  	myWorker.onmessage = function(e) {
		if (e.data[0] == "markdown"){
			var html = e.data[2];
			autoComplete[e.data[1]] = html;
			if (autoNow == e.data[1]){
  				chgAuto(e.data[1]);
			}
		}
		else if (e.data[0] == "code"){
			var html = e.data[2];
			var formEl = document.querySelector('.token.formula');
			formEl.innerHTML = html;
		}
		else if (e.data[0] == "latex"){
			var latex = e.data[2];
			autoComplete[e.data[1]] = html;
			if (autoNow == e.data[1]){
  				chgAuto(e.data[1]);
			}
		}
		else if (e.data[0] == "svg"){
			//if (autoNow == e.data[1]){
				var svg = e.data[2];
				document.getElementById("output-graph").innerHTML = svg;
				document.getElementById("domainSlider").addEventListener('change',plotChange);
			//}
			//else {
			//	var latex = e.data[2];
			//	var html = katex.renderToString(latex, {throwOnError: false});
  			//	autoComplete[e.data[1]] = html;
			//}
		}
		else if (e.data[0] == "rules"){
			console.log(e.data[1]);
		}
	}

  	function chgAuto(input) {
		var el = document.getElementById('output-math');
		el.innerHTML = autoComplete[input];
	}
  	function answerDown(evt) {
		var key = evt.key;
		if (key != 'Shift'){
			var answer = document.getElementById("inline-math").value;
			autoComplete[answer+key] = "in-progress";
			myWorker.postMessage(["markdown",answer+key]);
		}
		
	}
	function answerChange(evt) {
		var answer = document.getElementById("inline-math").value;
		if (autoComplete[answer] == "in-progress"){
			autoNow = answer;
		}
		else if (autoComplete[answer]){
			chgAuto(answer);
		}
		else {
			myWorker.postMessage(["markdown",answer]);
			autoNow = answer;
		}
		
	}
	var autoComplete = {};
	var autoNow = "";
	var answerEl = document.getElementById('inline-math');
	answerEl.addEventListener('keydown',answerDown);
	answerEl.addEventListener('input',answerChange);
	
	function plotChange(evt) {
		var left = -10;
		var right = 10;
		var spread = 20;
		var bottom = -10;
		var top = 10;
		if (evt){
			spread = evt.target.value;
			left = -.5*spread;
			right = .5*spread;
		}
		else if (document.getElementById("domainSlider")){
			spread = document.getElementById("domainSlider").value;
			left = -.5*spread;
			right = .5*spread;
		}
		var input = document.getElementById("inline-graph").value;
		myWorker.postMessage(["plot",input,left,right,bottom,top,spread]);
		
	}
	function rulesChange(){
		var ruleText = document.getElementById("inline-rules").value;
		console.log(ruleText);
		myWorker.postMessage(["rules","identities",ruleText]);
	}
	window.Prism = window.Prism || {};
	window.Prism.manual = true;
	
  </script>
  <script src="js/prism.js"></script>
  <script>
  	Prism.hooks.add('complete', function(env) {
		var formEl = document.querySelector('.token.formula');
		console.log(formEl.textContent);
		myWorker.postMessage(["code",formEl.textContent]);
	});
	Prism.hightlightAll();
  </script>
  
</body>

</html>