<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="../css/imcss.css">
</head>
<body>

<div class="imcss">
	<div class="root">
		<svg viewBox="0 0 50 100" width="50" height="100"><path d="M0 60 15 60 25 100 50 0" fill="none" stroke="black" stroke-width="5"/></svg>
		<div class="power">
			<div class="number">2
			</div><div class="power">
				<div class="number">2
				</div><div class="number">2
				</div>
			</div>
		</div><div class="number">2
		</div>
	</div>
</div>

<div class="imcss">
	<div class="root">
		<svg viewBox="0 0 50 100" width="50" height="100"><path d="M0 60 15 60 25 100 50 0" fill="none" stroke="black" stroke-width="5"/></svg>
		<div class="power">
			<div class="number">2
			</div><div class="number">2
			</div>
		</div><div class="number">3
		</div>
	</div>
</div>

<div class="imcss">
	<div class="fraction">
		<div class="power">
			<div class="number">2
			</div><div class="number">2
			</div>
		</div><div class="number">3+7+8
		</div>
	</div>
</div>

<div class="imcss">
	<div class="limit">
		<div class="power">
			<div class="number">x
			</div><div class="number">2
			</div>
		</div><div class="number">x->7
		</div>
	</div>
</div>

<div class="imcss">
	<div class="parentheses">
		<svg viewBox="0 0 30 100" width="30" height="100"><path d="M30 0 Q 0 50 30 100" fill="none" stroke="black" stroke-width="3"/></svg>
		<div class="limit">
			<div class="power">
				<div class="number">x
				</div><div class="number">2
				</div>
			</div><div class="number">x->7+3-2+c
			</div>
		</div>
		<svg viewBox="0 0 30 100" width="30" height="100"><path d="M0 0 Q 30 50 0 100" fill="none" stroke="black" stroke-width="3"/></svg>
	</div>
</div>

<div class="imcss">
	<div class="integral">
		<svg viewBox="-200 -2000 500 3000" width="30" height="180"><path d="m 166,-1111 c -54,0 -111,30 -111,85 0,27 21,41 42,41 21,0 42,-14 42,-41 0,-26 -19,-40 -38,-42 16,-13 39,-21 65,-21 78,0 97,100 97,207 v 653 c 0,116 68,229 180,229 54,0 111,-30 111,-85 0,-28 -21,-41 -42,-41 -21,0 -42,13 -42,41 0,26 19,40 38,42 -16,13 -39,21 -65,21 -78,0 -97,-101 -97,-207 v -653 c 0,-116 -68,-229 -180,-229 z" fill="none" stroke="black" stroke-width="3"/></svg>
		
		<div class="power">
			<div class="number">x
			</div><div class="number">2
			</div>
		</div><div class="number">x
		</div>
	</div>
</div>
</body>
</html>