<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="../css/imcss.css">
</head>
<body>

<div class="imcss">
	<div class="root">
		<div class="power">
			<div class="number">2
			</div><div class="power">
				<div class="number">2
				</div><div class="number">2
				</div>
			</div>
		</div><div class="number">2
		</div>
	</div>
</div>

<div class="imcss">
	<div class="root">
		<div class="power">
			<div class="number">2
			</div><div class="number">2
			</div>
		</div><div class="number">3
		</div>
	</div>
</div>
</body>
</html>