<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="../css/imcss.css">
</head>
<body>

<div class="imcss">
	<div class="root">
		<svg viewBox="0 0 50 100" width="50" height="100"><path d="M0 60 15 60 25 100 50 0" fill="none" stroke="black" stroke-width="5"/></svg>
		<div class="power">
			<div class="number">2
			</div><div class="power">
				<div class="number">2
				</div><div class="number">2
				</div>
			</div>
		</div><div class="number">2
		</div>
	</div>
</div>

<div class="imcss">
	<div class="root">
		<svg viewBox="0 0 50 100" width="50" height="100"><path d="M0 60 15 60 25 100 50 0" fill="none" stroke="black" stroke-width="5"/></svg>
		<div class="power">
			<div class="number">2
			</div><div class="number">2
			</div>
		</div><div class="number">3
		</div>
	</div>
</div>

<div class="imcss">
	<div class="fraction">
		<div class="power">
			<div class="number">2
			</div><div class="number">2
			</div>
		</div><div class="number">3+7+8
		</div>
	</div>
</div>

<div class="imcss">
	<div class="limit">
		<div class="power">
			<div class="number">x
			</div><div class="number">2
			</div>
		</div><div class="number">x->7
		</div>
	</div>
</div>

<div class="imcss">
	<div class="parentheses">
		<svg viewBox="0 0 30 100" width="30" height="100"><path d="M30 0 Q 0 50 30 100" fill="none" stroke="black" stroke-width="3"/></svg>
		<div class="limit">
			<div class="power">
				<div class="number">x
				</div><div class="number">2
				</div>
			</div><div class="number">x->7+3-2+c
			</div>
		</div>
		<svg viewBox="0 0 30 100" width="30" height="100"><path d="M0 0 Q 30 50 0 100" fill="none" stroke="black" stroke-width="3"/></svg>
	</div>
</div>
</body>
</html>