<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="../img/fav.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" />
  <link rel="stylesheet" href="css/prism.css" />
  <link rel="stylesheet" href="css/treeflex.css" />
  <style>
  	body {
  		overflow-y: hidden;
  	}
  	.main {
  		display: flex;
  		flex-direction: row;
  	}
  	.menu {
  		height: calc(100vh - 2rem);
  		padding: .5rem;
  		flex: 1;
  	}
  	.editDiv {
  		flex: 4;
  		overflow-y: auto;
  	}
  	.outputDiv {
  		height: calc(100vh - 2rem);
  		flex: 4;
  		border: 1px solid black;
  		padding: .5rem;
  		overflow-y: auto;
  	}
  	.plotDiv {
  		display: block;
  		width: 200px;
  		height: 250px;
  		padding: .5rem;
  	}
  	.plotSpan {
  		display: inline-block;
  		width: 100px;
  		height: 120px;
  		padding: .1rem;
  	}
  	.plotSpan .functionLine {
  		stroke-width: 5;
  	}
  	.plotSpan .gridLine {
  		stroke-width: .5;
  		stroke-opacity: .5;
  	}
  	.plotSpan text {
  		display: none;
  	}
  	.plotSpan .smallDot {
  		display: none;
  	}
  	.plotSpan .mediumDot {
  		display: none;
  	}
  	.plotSpan .majorDot {
  	}
  </style>
</head>

<body>
  <div class="main">
  	<div class="menu">
  		<img src="../img/logo.png" style="width: 100%;">
  		Report Bug
  		<ul>
  			<li>Solve</li>
  			<li>Plot</li>
  			<li>Trees</li>
  		</ul>
  		<button class="copy-latex">Copy Latex</button>
  		<button class="copy-text">Copy Text</button>
  		<button class="copy-html">Copy HTML</button>
  		<textarea></textarea>
  	</div>
  	
	<div class="editDiv">
		<textarea id="inline-math" style="height: calc(100vh - 2rem); padding: .5rem; width: calc(100% - 1rem);">
			{% block markdown %}
			{% endblock %}
		</textarea>
	</div>
	<div class="outputDiv" id="output-math">
		
	</div>

  </div>
  <!--
  <textarea id="inline-rules"></textarea>
  <button onclick="rulesChange()">Submit</button>
  
  
  <input type="text" id="inline-math"></input>
  <div id="output-math"></div>	
  
  <input type="text" id="inline-graph"></input>
  <button onclick="plotChange()">Submit</button>
  <div id="output-graph"></div>	-->
  
	
  <!--<script src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"></script>-->
  <script src="js/autosize.js"></script>
  <script src="js/copylatex.js"></script>
  <!--<script src="js/marked.js"></script>-->
  <!--<script src="mathdocs/markdown-it-math.js"></script>-->
  
  <script>
  	autosize(document.getElementById('inline-rules'));
  	
  	
	
	
  	var myWorker = new Worker('js/wasmworker.js');
  	
  	myWorker.onmessage = function(e) {
  		if (e.data == "ready"){
  			setTimeout(updateMarkdown,50);
  		}
		else if (e.data[0] == "markdown"){
			var html = e.data[2];
			autoComplete[e.data[1]] = html;
			if (autoNow == e.data[1]){
  				chgAuto(e.data[1]);
			}
		}
		else if (e.data[0] == "code"){
			var html = e.data[2];
			var formEl = document.querySelector('#pid-'+e.data[5]+'-'+e.data[3]);
			formEl.innerHTML = " "+html;
			//formEl.querySelector('.katex').setAttribute('data-input',e.data[1]);
			//formEl.querySelector('.katex').setAttribute('data-latex',e.data[4]);
		}
		else if (e.data[0] == "svg"){
			//if (autoNow == e.data[1]){
			var svg = e.data[2];
			document.getElementById(e.data[3]).innerHTML = svg;
			if (document.getElementById("domainSlider-"+e.data[3])){
				document.getElementById("domainSlider-"+e.data[3]).addEventListener('change',plotChange);
			}
			if (document.getElementById("rangeSlider-"+e.data[3])) {
				document.getElementById("rangeSlider-"+e.data[3]).addEventListener('change',plotChange);
			}
			
			
			//}
			//else {
			//	var latex = e.data[2];
			//	var html = katex.renderToString(latex, {throwOnError: false});
  			//	autoComplete[e.data[1]] = html;
			//}
		}
	}
	function updateInputValue(evt){
		//TODO: restrct to radios of same name as event
		var els = document.querySelectorAll('input.inline-radio:checked, input.inline-input, input.inline-number, input.inline-range');

		for (var i=0;i<els.length;i++){
			var varName = els[i].getAttribute('name').substr(7);
			myWorker.postMessage(["inputValue",varName,els[i].value]);
		}
		
		els = document.querySelectorAll('input.inline-checkbox');
		for (var i=0;i<els.length;i++){
			//console.log(els[i]);
			//console.log(els[i].checked);
			var varName = els[i].getAttribute('name').substr(7);
			if (els[i].checked){
				//console.log("checked");
				myWorker.postMessage(["inputValue",varName,els[i].getAttribute('data-yes')]);
			}
			else {
				myWorker.postMessage(["inputValue",varName,els[i].getAttribute('data-no')]);
			}
			
		}
		
		updateMarkdown();
		
	}
	function updateMarkdown(){
		var answer = document.getElementById("inline-math").value;
		myWorker.postMessage(["markdown",answer]);
		autoNow = answer;
	}
  	function chgAuto(input) {
		var el = document.getElementById('output-math');
		el.innerHTML = autoComplete[input];
		Prism.highlightAll();
		var els = document.querySelectorAll('input.inline-radio, input.inline-checkbox');
		for (var i=0;i<els.length;i++){
			els[i].addEventListener('click',updateInputValue);
		}
		els = document.querySelectorAll('input.inline-input, input.inline-number, input.inline-range');
		for (var i=0;i<els.length;i++){
			els[i].addEventListener('change',updateInputValue);
			//els[i].addEventListener('input',updateInputValue);
		}
		
		var treeEls = document.querySelectorAll('.inline-tree');
		for (var i=0;i<treeEls.length;i++){
			createTree(treeEls[i],0);
		}
		
		var plotEls = document.querySelectorAll('.plotSpan, .plotDiv');
		for (var i=0;i<plotEls.length;i++){
			var left = parseInt(plotEls[i].getAttribute('data-left'));
			var right = parseInt(plotEls[i].getAttribute('data-right'));
			var bottom = parseInt(plotEls[i].getAttribute('data-bottom'));
			var top = parseInt(plotEls[i].getAttribute('data-top'));
			var input = plotEls[i].getAttribute('data-formula');
			var id = plotEls[i].id;
			var sliders = plotEls[i].getAttribute('data-sliders');
			var spread = right-left;
			var spreadtb = top-bottom;
			myWorker.postMessage(["plot",input,id,left,right,bottom,top,spread,spreadtb,sliders]);
		}
		
	}
  	function answerDown(evt) {
		var key = evt.key;
		if (key != 'Shift'){
			var answer = document.getElementById("inline-math").value;
			autoComplete[answer+key] = "in-progress";
			myWorker.postMessage(["markdown",answer+key]);
		}
		
	}
	function answerChange(evt) {
		var answer = document.getElementById("inline-math").value;
		if (autoComplete[answer] == "in-progress"){
			autoNow = answer;
		}
		else if (autoComplete[answer]){
			chgAuto(answer);
		}
		else {
			myWorker.postMessage(["markdown",answer]);
			autoNow = answer;
		}
		
	}
	var autoComplete = {};
	var autoNow = "";
	var answerEl = document.getElementById('inline-math');
	answerEl.addEventListener('keydown',answerDown);
	answerEl.addEventListener('input',answerChange);
	
	function plotChange(evt) {
		var left = -10;
		var right = 10;
		var spread = 20;
		var bottom = -10;
		var top = 10;
		var input = "";
		var id = "";
		//console.log(evt.target);
		if (evt){
			spread = evt.target.value;
			if (spread == 0){return;}
			if (evt.target.id.substr(0,5) == 'domai'){
				left = -.5*spread;
				right = .5*spread;
				bottom = parseInt(evt.target.parentElement.getAttribute('data-bottom'));
				top = parseInt(evt.target.parentElement.getAttribute('data-top'));
				spreadtb = top-bottom;
				id = evt.target.id.substr(13);
			}
			else if (evt.target.id.substr(0,5) == 'range'){
				spreadtb = evt.target.value;
				bottom = -.5*spread;
				top = .5*spread;
				left = parseInt(evt.target.parentElement.getAttribute('data-left'));
				right = parseInt(evt.target.parentElement.getAttribute('data-right'));
				spread = right-left;
				id = evt.target.id.substr(12);
				
			}
			sliders = evt.target.parentElement.getAttribute('data-sliders');
			
			input = evt.target.getAttribute('data-formula');
			
		}
		myWorker.postMessage(["plot",input,id,left,right,bottom,top,spread,spreadtb,sliders]);
		
	}
	
	window.Prism = window.Prism || {};
	window.Prism.manual = true;
	

	
	

  </script>
  <script src="js/prism.js"></script>
  <script>
  	Prism.hooks.add('complete', function(env) {
  		var pid = 0;
  		var formEls;
  		if (env.language == 'js'){
  			formEls = document.querySelectorAll('code.language-js .token.formula');
  		}
  		else if (env.language == 'python'){
  			formEls = document.querySelectorAll('code.language-python .token.formula');
  		}
		for (pid=0;pid<formEls.length;pid++){
			formEls[pid].id = "pid-"+env.language+"-"+pid;
			myWorker.postMessage(["code",formEls[pid].textContent,pid,env.language]);
		}
	});
	
	
  </script>
  <script>
  	function toggleNode(evt) {
		var collapseTarget = evt.target.getAttribute('data-target');
		console.log(collapseTarget);
		var el = document.querySelector(collapseTarget);
		if (el.style.display != 'block'){
			el.style.display = "block";
		}
		else {
			el.style.display = "none";
		}
	
	}
	function createTree(treeEl,i){
		var nodeText = {};
		var els = treeEl.querySelectorAll('node');
		for (var i=0;i<els.length;i++){
			nodeText[els[i].id]=els[i].innerHTML;
		}
		for (var i=els.length-1;i>=0;i--){
			els[i].parentElement.removeChild(els[i]);
		}
		var tree = JSON.parse(treeEl.textContent);
		treeEl.innerHTML = "";
	
		var treeDiv = document.createElement('div');
		treeDiv.classList.add('tf-tree');
		var ul = document.createElement('ul');
		ul.id = "tree-simple"+i;
		treeDiv.appendChild(ul);

		var allNodes = tree.allNodes;
		var nodes = tree.nodes;
		var jsonTree = {};
		for (var ii=0;ii<allNodes.length;ii++){
			var name = allNodes[ii];
			var text = nodeText[name];
			var children = [];
			var parent = nodes[name].parent;
			var node = document.createElement('li');
			var span = document.createElement('span');
			span.classList.add("tf-nc");
			span.classList.add("rounded");
			if (nodes[name].startNode){
				span.classList.add("startNode");
			}
			else if (nodes[name].startNodes){
				span.classList.add("startNodes");
			}
			if (nodes[name].endNode){
				span.classList.add("endNode");
			}
			else if (nodes[name].endNodes){
				span.classList.add("endNodes");
			}
			span.innerHTML = text;
			node.appendChild(span);
			if (name[name.length-1]=='f'){
				var opSpan = document.createElement('span');
				opSpan.innerHTML = nodes[name].op;
				opSpan.style.position = "absolute";
				opSpan.style.top = "calc(100% + .4rem)";
				opSpan.style.left = "calc(50% - .6rem)";
				opSpan.style.width = "1.2rem";
				opSpan.style.height = "1.2rem";
				opSpan.style.background = "white";
				opSpan.style.border = "1px solid black";
				opSpan.style.borderRadius = "1rem";
				opSpan.style.zIndex = "2";
				opSpan.style.textAlign = "center";
				span.appendChild(opSpan);
			}
	
			jsonTree[name]={text:text,children:children,node:node};
			if (parent != ""){
				jsonTree[parent].children.push(name);
				var pnode = jsonTree[parent].node;
			
				if (pnode.querySelector('ul')){
					pnode.querySelector('ul').appendChild(node);
				}
				else {
					var ul = document.createElement('ul');
					pnode.appendChild(ul);
					pnode.querySelector('ul').appendChild(node);
				}
		
			}
			else if (ii==0){
				if (ul){
					ul.appendChild(node);
				}
			}
	
		}


		treeEl.appendChild(treeDiv);
	}
  </script>
</body>

</html>