.imcss {
	position: relative;
	left: 50px;
	top: 50px;
}
.imcss div {
	display: inline-block;
	position: relative;
}






.imcss .power > div:nth-child(2){
	vertical-align: super;
  	font-size: smaller;
}
.imcss .root {
	display: inline-block;
    margin-left: 20px;
    margin-right: 0;
    padding-left: 2px;
    padding-right: 4px;
    position: relative;
    width: auto;
    margin-top:10px;
    padding-top: 4px;
    border-top:2px black solid;
}

.imcss .root > svg {
    position:absolute;
    top:-2px;
    right: 100%;
    height: 100%;
    width: auto;
}

.imcss .root > div:nth-child(3){
	position:absolute;
    bottom:45%;
    left:-10px;
    font-size: smaller;
}

.imcss .fraction > div{
	display: block;
	text-align: center;
}
.imcss .fraction > div:nth-child(1){
	border-bottom: 1px solid black;
}
.imcss .fraction > div:nth-child(2){
	border-top: 1px solid black;
}

.imcss .limit {
	display: inline-grid;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 4px;
}
.imcss .limit > div:nth-child(1) {
	min-height: 2rem;
	grid-row: 1 / 3;
	grid-column: 2;
}
.imcss .limit > div:nth-child(2){
	grid-row: 2;
	grid-column: 1;
    width: fit-content;
    font-size: 75%;
}
.imcss .limit::before{
	content: "lim";
	display: inline-block;
	text-align: center;
	bottom: calc(-100% + 1rem);
	position: relative;
}

.imcss .parentheses > svg:nth-child(1){
	position:absolute;
    top:-2px;
    right: 100%;
    height: 100%;
    width: auto;
}
.imcss .parentheses > svg:last-child{
	position:absolute;
    top:-2px;
    left: 100%;
    height: 100%;
    width: auto;
}

.imcss .integral {
	display: inline-block;
    margin-left: 20px;
    margin-right: 0;
    padding-left: 2px;
    padding-right: 4px;
    position: relative;
    width: auto;
    margin-top:10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.imcss .integral > svg {
    position:absolute;
    top:-2px;
    right: 100%;
    height: 100%;
    width: auto;
}

.imcss .integral > div:nth-child(2){
	
}
.imcss .integral > div:nth-child(3)::after{
	content:"dx";
}


