.imcss {
	position: relative;
	left: 50px;
	top: 50px;
}
.imcss div {
	display: inline-block;
}






.imcss .power > div:nth-child(2){
	vertical-align: super;
  	font-size: smaller;
}
.imcss .root {
	display: inline-block;
    margin-left: 29px;
    margin-right: 0;
    padding-left: 0px;
    padding-right: 9px;
    position: relative;
    width: auto;
    margin-top:30px;
    padding-top: 10px;
    border-top:2px black solid;
}
.imcss .root::before {
	content: '\221A';
    float: left;
    font-size: 2.5em;
    margin-top: -10px;
    margin-left:-25px;
}
.imcss .root > div:nth-child(2) {
    position:absolute;
    top:6px;
    left:-17px;
}

