.imcss {
	
}
.imcss div {
	display: inline-block;
}






.imcss .power > div:nth-child(2){
	vertical-align: super;
  	font-size: smaller;
}
.imcss .root::before {
	content: '\221A';
    float: left;
    font-size: 2.5em;
    margin-top: -10px;
    margin-left:-25px;
}
